.Rproj.user
.Rhistory
.RData
.Ruserdata
~$atisktika.docx

Semestralka.log

Semestralka.pdf

Semestralka.synctex.gz

Semestralka.tex

Semestralka-hish_vys.pdf

Semestralka-hish_pha.pdf

Semestralka-hish_pce.pdf

Semestralka-concordance.tex

Semestralka.aux

Semestralka.out

Semestralka.synctex(busy)
